<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="signInForm" (ngSubmit)="signIn()">
    <div class="header__container">
      <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
    </div>
    <div class="form-group">
      <mat-icon>email</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required type="email" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-icon>lock</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" required type="password" />
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" class="btn btn-block btn-primary">Sign in</button>
    <div class="error__container" *ngIf="
      (signInForm.controls['email'].hasError('required') && signInForm.controls['email'].dirty) ||
      (signInForm.controls['password'].hasError('required') && signInForm.controls['password'].dirty) ||
      signInForm.controls['email'].hasError('incorrect')
    ">
      <mat-error *ngIf="signInForm.controls['email'].hasError('required') && signInForm.controls['email'].dirty">
        <mat-icon>error</mat-icon>
        Email is required
      </mat-error>
      <mat-error *ngIf="signInForm.controls['password'].hasError('required') && signInForm.controls['password'].dirty">
        <mat-icon>error</mat-icon>
        Password is required
      </mat-error>
      <mat-error *ngIf="signInForm.controls['email'].hasError('incorrect')">
        <mat-icon>error</mat-icon>
        Email is invalid
      </mat-error>
    </div>
  </form>
</div>
