<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
        <div class="header__container">
            <h1 class="h3 mb-3 font-weight-normal text-center">Please sign up</h1>
        </div>
        <div class="form-group">
            <mat-icon>person</mat-icon>
            <mat-form-field>
                <input matInput placeholder="First name" formControlName="FirstName" required type="text"/>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-icon>person</mat-icon>
            <mat-form-field>
                <input matInput placeholder="Surname" formControlName="SurName" required type="text"/>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-icon>phone</mat-icon>
            <mat-form-field>
                <input matInput placeholder="Phone number" formControlName="PhoneNumber" required type="text"/>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-icon>person</mat-icon>
            <mat-form-field>
                <input matInput placeholder="Pesel" formControlName="Pesel" required type="text"/>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-icon>email</mat-icon>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="Email" required type="email"/>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-icon>lock</mat-icon>
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="Password" required type="password"/>
            </mat-form-field>
        </div>
        <button mat-raised-button type="submit" class="btn btn-block btn-primary">Sign up</button>
        <div class="error__container" *ngIf="
      (signupForm.controls['Email'].hasError('required') && signupForm.controls['Email'].dirty) ||
      (signupForm.controls['Password'].hasError('required') && signupForm.controls['Password'].dirty) ||
      signupForm.controls['Email'].hasError('incorrect') ||
      (signupForm.controls['SurName'].hasError('required') && signupForm.controls['SurName'].dirty) ||
      (signupForm.controls['FirstName'].hasError('required') && signupForm.controls['FirstName'].dirty) ||
      (signupForm.controls['Pesel'].hasError('required') && signupForm.controls['Pesel'].dirty) ||
      (signupForm.controls['PhoneNumber'].hasError('required') && signupForm.controls['PhoneNumber'].dirty)
      || signupForm.controls['Password'].hasError('incorrect')
      || signupForm.controls['Email'].hasError('conflict')
    ">
            <mat-error *ngIf="signupForm.controls['Email'].hasError('required') && signupForm.controls['Email'].dirty">
                <mat-icon>error</mat-icon>
                Email is required
            </mat-error>
            <mat-error
                    *ngIf="signupForm.controls['Password'].hasError('required') && signupForm.controls['Password'].dirty">
                <mat-icon>error</mat-icon>
                Password is required
            </mat-error>
            <mat-error *ngIf="signupForm.controls['Password'].hasError('incorrect')">
                <mat-icon>error</mat-icon>
                Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase
                letter, one number, one special character.
            </mat-error>
            <mat-error *ngIf="signupForm.controls['Email'].hasError('incorrect')">
                <mat-icon>error</mat-icon>
                Email is invalid
            </mat-error>
            <mat-error *ngIf="signupForm.controls['Email'].hasError('conflict')">
                <mat-icon>error</mat-icon>
                Email already exists
            </mat-error>
            <mat-error
                    *ngIf="signupForm.controls['FirstName'].hasError('required') && signupForm.controls['FirstName'].dirty">
                <mat-icon>error</mat-icon>
                First name is required
            </mat-error>
            <mat-error
                    *ngIf="signupForm.controls['SurName'].hasError('required') && signupForm.controls['SurName'].dirty">
                <mat-icon>error</mat-icon>
                Last name is required
            </mat-error>
            <mat-error
                    *ngIf="signupForm.controls['Pesel'].hasError('required') && signupForm.controls['Pesel'].dirty">
                <mat-icon>error</mat-icon>
                Pesel is required
            </mat-error>
            <mat-error
                    *ngIf="signupForm.controls['PhoneNumber'].hasError('required') && signupForm.controls['PhoneNumber'].dirty">
                <mat-icon>error</mat-icon>
                Phone number is required
            </mat-error>
        </div>
    </form>
</div>
