<header class="navbar__container" [class.colored__scrolled]="isScrolled">

  <nav class="navbar__nav container">
    <a routerLink="/" class="flex-start navbar__logo">
    </a>

    <div class="navbar__list">
      <a mat-button routerLink="" [routerLinkActive]="['activated-route']" [routerLinkActiveOptions]="{exact: true}"
        aria-label="Home">Home</a>
      <a mat-button routerLink="cars" [routerLinkActive]="['activated-route']" aria-label="Cars">Cars</a>
      <a mat-button routerLink="locations" [routerLinkActive]="['activated-route']" aria-label="Locations">Locations</a>
    </div>
    <div class="navbar__buttons">
      <button mat-raised-button (click)="openSignDialog()" aria-label="Sign In" class="btn--login" *ngIf="!isAuth"
        [class.btn--unscrolled--color]="!isScrolled" [class.unscrolled--signin]="!isScrolled"
        [class.scrolled--signin]="isScrolled">Sign In</button>
      <button mat-raised-button (click)="openRegisterDialog()" aria-label="Register" class="btn--signup" *ngIf="!isAuth"
        [class.btn--unscrolled--color]="!isScrolled" [class.unscrolled--signup]="!isScrolled"
        [class.scrolled--signup]="isScrolled">Register</button>
      <button mat-raised-button (click)="signOut()" aria-label="Sign Out" class="btn--logout" *ngIf="isAuth"
        [class.btn--unscrolled--color]="!isScrolled" [class.unscrolled--logout]="!isScrolled"
        [class.scrolled--logout]="isScrolled">Sign
        Out</button>
      <a mat-raised-button routerLink="dashboard" aria-label="Dashboard" *ngIf="isAuth">Dashboard</a>
    </div>
  </nav>

</header>
