<div class="auth-wrapper">
  <form class="form-edit" [formGroup]="editForm" (ngSubmit)="submitData()">
    <div class="header__container">
      <h1 class="h3 mb-3 font-weight-normal text-center">Change password</h1>
    </div>
    <div class="form-group">
      <mat-icon>lock</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Old password" formControlName="password" required type="password" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-icon>lock</mat-icon>
      <mat-form-field>
        <input matInput placeholder="New password" formControlName="new_password" required type="password" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-icon>lock</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Confirm password" formControlName="confirm_password" required type="password" />
      </mat-form-field>
    </div>

    <div class="button__group">
      <button mat-raised-button type="submit" class="btn btn-block btn-primary">Submit</button>
      <button mat-raised-button type="button" class="btn btn-block btn-danger" (click)="cancel()">Cancel</button>
    </div>

    <div class="error__container" *ngIf="
      editForm.controls['new_password'].hasError('incorrect') ||
      editForm.controls['confirm_password'].hasError('incorrect') ||
      editForm.controls['new_password'].hasError('conflict')
    ">
      <mat-error *ngIf="editForm.controls['new_password'].hasError('incorrect')">
        <mat-icon>error</mat-icon>
        Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, one special character.
      </mat-error>
      <mat-error *ngIf="editForm.controls['confirm_password'].hasError('incorrect') || editForm.controls['new_password'].hasError('conflict')">
        Passwords do not match
      </mat-error>
    </div>
  </form>
</div>
