.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  min-height: 25vh;
  background-color: var(--primary-color);
}

mat-icon {
  cursor: pointer;
}
.checked {
  color: #df1a54;
}

h4, h2 {
  width: 100%;
  text-align: center;
}

h4 {
  margin-bottom: 0;
  color: #df1a54;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
}
