@import "../../../../../styles/variables.scss";

.reserve-vehicle {
  margin: 1% 0 1% 0;
}

.content {
  color: #fff;

  &__main {
    background-position: right;
    background-repeat: no-repeat;

    // xs media query
    @media (max-width: $breakpoint-xs) {
      background-position: calc((((100vw / 2.222222) - 20px) / 1.5) / 2) 0;
      background-size: cover;
    }
  }

  &__container {
    padding-top: 60px;
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 31.5, 0.84) 30%, rgba(31.5, 31.5, 31.5, 0.84) 100%);

    // xs media query
    @media (max-width: $breakpoint-xs) {
      background-image: none;
      padding-top: 0;

      .container__image {
        visibility: hidden;
      }
    }

  }

  &__info {
    padding: 30px 0;
    display: flex;
    gap: 30px;

    img {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      min-width: 300px;
    }

    // xs media query
    @media (max-width: $breakpoint-xs) {
      background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) 20%, rgba(31.5, 31.5, 31.5, 0) 50%);

      img {
        margin-left: 20px;
        width: calc(((100vw / 2) - 40px) / 1.5);
        min-width: calc(((100vw / 2.2) - 40px) / 1.5);
        height: calc((100vw / 2) - 40px);
        min-height: calc((100vw / 2) - 40px);
        z-index: 4;
      }
    }

  }

  &__location {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 50%;
    max-width: 80%;
  }

  &__location div {
    min-width: 100%;
    margin: 1%;

    span {
      font-size: 1.2em;
      font-weight: 500;
      color: #fff;
    }

    mat-icon ~ span {
      font-size: 1em;
      font-weight: 400;
      color: #fff;
      margin-left: 10px;
    }
  }


  &__data, &__data-mobile {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 40%;

    p {
      margin-top: 0;
    }

    h3 {
      font-weight: 500;
      color: #fff;
      font-size: 1.1em;
      font-style: italic;
      opacity: 0.8;
      margin: 0;
    }

    h4 {
      margin: 15px 0;
    }

    &--reactions {
      width: 15%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--reactions mat-icon {
      cursor: pointer;
    }

    &--reactions {
      width: 15%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & .rating {
      &.unrated {
        color: #fff;
      }

      &.rated {
        color: #FFD700;
      }
    }

    & .favorite {
      &--checked {
        color: #df1a54;
      }

      &--unchecked {
        color: #fff;
      }
    }

    & .trash {
      &--checked {
        color: #666666;
      }

      &--unchecked {
        color: #fff;
      }
    }

    mat-icon:hover {
      transition: transform 0.2s ease-in-out;
      transform: scale(1.5);
    }

    &--categories {
      display: flex;
      gap: 6px;
    }

    &--form {
      margin-top: 2%;
      display: flex;
      justify-content: space-between;
    }

    // xs media query
    @media (max-width: $breakpoint-xs) {
      display: none;

      h2 {
        margin: 0;
        font-size: 1.25rem;
      }
      h3 {
        margin-top: 10px
      }
      h4 {
        margin: 10px 0;
      }
      p {
        font-size: 0.9rem;
      }
      button {
        width: 100%
      }
    }

  }

  &__data-mobile {
    display: none;


    &--reactions {
      width: 20%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    // xs media query
    @media (max-width: $breakpoint-xs) {
      background: #212121;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
      padding: 16px;
    }

  }

  &__similar_or_recommended {

    @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
      padding: 16px;
    }

    &--cards {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: 8px;

      // xs media query
      @media (max-width: $breakpoint-xs) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      // sm media query with variables
      @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      // md media query with variables
      @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

    }

    // xs media query
    @media (max-width: $breakpoint-xs) {
      h2 {
        text-align: center;
      }

      &--cards {
        justify-content: space-between;
        padding: 0 16px;
      }
    }

  }

  &__no-similar_or_recommended {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 2rem;
    height: 25vh;

    mat-icon {
      display: flex;
      align-items: center;
    }

  }

}
.reserve-container {
  padding: 15px;

  &__book-button:disabled {
    cursor: not-allowed;
  }

  &__book-button {
    cursor: pointer;
  }
}
