@import "../../../../../styles/variables.scss";

mat-sidenav-container {
  min-height: 100vh;
  padding-top: 60px;

  @media (max-width: $breakpoint-xs) {
    padding: 0 16px 16px;
  }

  mat-sidenav {
    margin-top: 60px;
    mat-nav-list {
      .menu-item {
        margin-left: 8px;
      }

      .chevron-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
      }

      .chevron-button.rotated {
        transform: rotate(180deg);
      }
    }
  }
}

.activated-route {
  border-bottom: 2px solid;
  border-radius: 0;

  &:last-child {
    margin-right: 15px;
  }
}
